<%= form_with(model: wardrobe_item, class: "p-6 rounded-lg shadow-md max-w-lg mx-auto space-y-6") do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div>
    <%= form.label :name, class: "block text-sm font-medium" %>
    <%= form.text_field :name, placeholder: "E.g., Leather Jacket with Fringe" %>
  </div>

  <div>
    <%= form.label :season, class: "block text-sm font-medium" %>
    <%= form.select :season, ["Spring", "Summer", "Fall", "Winter"], { class: "mt-1 block w-full rounded-md shadow-sm sm:text-sm" } %>
  </div>

  <div class="form-group">
    <%= form.label :occasions %>
    <%= form.select :occasions, options_for_select([nil, 'Casual', 'Work', 'Evening', 'Formal', 'Party', 'Lounge'], wardrobe_item.occasions), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cost %>
    <%= form.number_field :cost, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :condition %>
    <%= form.select :condition, options_for_select([nil, 'New', 'Like New', 'Good', 'Worn'], wardrobe_item.condition), class: "form-control" %>
  </div>

  <div class="form-group">
    <% wardrobe_item.images.each do |image| %>
      <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
    <% end %>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="mt-4">
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), wardrobe_items_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to t("cancel"), wardrobe_item_path(@wardrobe_item), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
