<%= form_with(model: wardrobe_item) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :season %>
      <%= form.select :season, options_for_select([nil, 'Spring', 'Summer', 'Fall', 'Winter', 'All-Season'], wardrobe_item.season), class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :occasions %>
      <%= form.select :occasions, options_for_select([nil, 'Casual', 'Work', 'Evening', 'Formal', 'Party', 'Lounge'], wardrobe_item.occasions), class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :cost %>
      <%= form.number_field :cost, step: 0.01, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :condition %>
      <%= form.select :condition, options_for_select([nil, 'New', 'Like New', 'Good', 'Worn'], wardrobe_item.condition), class: "form-control" %>
    </div>

    <div class="form-group">
      <% wardrobe_item.images.each do |image| %>
        <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
      <% end %>
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true %>
    </div>
  </div>

  <div class="mt-4">
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), wardrobe_items_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to t("cancel"), wardrobe_item_path(@wardrobe_item), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
