<div id="<%= dom_id wardrobe_item %>" class="p-6 bg-white dark:bg-gray-900 rounded-lg shadow space-y-4">
  <div class="flex justify-between items-center">
     <h2 class="font-semibold text-lg text-gray-900 dark:text-gray-200">
      <%= wardrobe_item.name %>
    </h2>
    <% if action_name != "show"  %>
      <%= link_to "View", wardrobe_item, class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>

  <% wardrobe_item.images.each do |image| %>
    <li>
      <% if image.representable? %>
        <%= image_tag image.representation(resize_to_limit: [100, 100]) %>
      <% else %>
        <%= link_to rails_blob_path(image, disposition: "attachment") do %>
          <%= image_tag "placeholder.png", alt: "Download image" %>
        <% end %>
      <% end %>
    </li>
  <% end %>

  <p class="text-sm font-medium text-gray-500">Category: <%= wardrobe_item.category %></p>
  <p class="text-sm font-medium text-gray-500">Subcategories: <%= wardrobe_item.subcategories %></p>
  <p class="text-sm font-medium text-gray-500">Colors: <%= wardrobe_item.colors %></p>
  <p class="text-sm font-medium text-gray-500">Season: <%= wardrobe_item.season %></p>
  <p class="text-sm font-medium text-gray-500">Occasions: <%= wardrobe_item.occasions %></p>
  <p class="text-sm font-medium text-gray-500">Cost: <%= number_to_currency(wardrobe_item.cost) %></p>
  <p class="text-sm font-medium text-gray-500">Condition: <%= wardrobe_item.condition %></p>

  <h2>Tags</h2>
  <ul>
    <% wardrobe_item.tags.each do |tag| %>
      <li><%= tag %></li>
    <% end %>
  </ul>

  <div class="flex space-x-2">
    <%= link_to "Edit", edit_wardrobe_item_path(wardrobe_item), class: "btn btn-sm btn-secondary" %> 
    <%= button_to "Delete", wardrobe_item, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
  </div>
</div>
