  <!-- WardrobeItem Item -->
  <div id="<%= dom_id wardrobe_item %>" class="card card-image p-1 wardrobe-item-card flex flex-col justify-between">
    <div class="relative">
    <% if wardrobe_item.images.any? %>
      <%= image_tag wardrobe_item.images.first, alt: wardrobe_item.name, class: "object-cover w-full h-full" %>
    <% else %>
      <% image_tag "placeholder_image.jpg", alt: "No Image Available", class: "object-cover w-full h-full" %>
    <% end %>
  </div>

  <!-- Card Body: Main Content -->
  <div class="px-6 py-4">
    <!-- Item Name -->
    <h3>
      <%= wardrobe_item.name.presence || "Unnamed Item" %>
    </h3>

    <!-- Color Palette -->
    <div class="mb-4">
      <strong>Colors:</strong>
      <div class="flex space-x-2 mt-2">
        <% if wardrobe_item.colors.any? %>
          <% wardrobe_item.colors.each do |color_info| %>
            <div class="h-4 w-4 rounded-full border" style="background-color: <%= color_info["hex"] %>;" title="Hex: <%= color_info['hex'] %>, Score: <%= (color_info['score'] * 100).round(2) %>%">
              <!-- Accessible tooltip for score -->
              <span class="sr-only"><%= color_info["score"] %></span>
            </div>
          <% end %>
        <% else %>
          <p class="text-gray-500 text-sm"><em>No colors detected</em></p>
        <% end %>
      </div>
    </div>

    <!-- Additional Info -->
    <div class="text-sm text-gray-600 dark:text-gray-400">
      <p><strong>Season:</strong> <%= wardrobe_item.season.presence || "All Seasons" %></p>
      <p><strong>Occasions:</strong> <%= wardrobe_item.occasions.any? ? wardrobe_item.occasions.join(", ") : "<em>Not specified</em>".html_safe %></p>
      <p><strong>Cost:</strong> <%= wardrobe_item.cost.present? ? number_to_currency(wardrobe_item.cost) : "<em>Not specified</em>".html_safe %></p>
      <p><strong>Condition:</strong> <%= wardrobe_item.condition.present? ? wardrobe_item.condition.capitalize : "<em>Not specified</em>".html_safe %></p>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="px-6 py-4 flex justify-between">
    <a href="<%= edit_wardrobe_item_path(wardrobe_item) %>" class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded flex items-center">
      Edit
    </a>
    <%= link_to t("delete"), wardrobe_item, class: "btn btn-danger btn-outline btn-xs sm:btn-sm", data: { turbo_method: :delete, turbo_confirm: t("are_you_sure") } %>
  </div>
</div>
