<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield :title %> |
    <% end %>
    <%= Jumpstart.config.application_name %>
  </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= viewport_meta_tag %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <% if current_user&.system_theme? %>
    <script>
      document.documentElement.classList.toggle("dark", window.matchMedia('(prefers-color-scheme: dark)').matches)
    </script>
  <% end %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <%= turbo_refreshes_with method: :morph, scroll: :reset %>

  <%= render "favicons" %>
  <%= render "payments_dependencies" %>

  <%= yield :head %>
</head>
