<!DOCTYPE html>
<html class="<%= class_names("h-full min-h-screen antialiased", "dark": current_user&.dark_theme?) %>" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= viewport_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <% if current_user&.system_theme? %><script>document.documentElement.classList.toggle("dark", window.matchMedia('(prefers-color-scheme: dark)').matches)</script><% end %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%# Be sure to add your own custom favicons %>
    <%= render "favicons" %>
    <%= render "payments_dependencies" %>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
  </head>

  <body data-theme-preference-value="<%= current_user&.theme %>" data-controller="theme sidebar">
    <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state -->
    <div class="relative z-50 lg:hidden">

      <!-- Off-canvas menu backdrop, show/hide based on off-canvas menu state. -->
      <div class="fixed inset-0 bg-gray-900/80 hidden" data-sidebar-target="backdrop"></div>

      <div class="fixed inset-0 flex">
        <!-- Off-canvas menu, show/hide based on off-canvas menu state. -->
        <div class="relative mr-16 flex w-full max-w-xs flex-1">
          <!-- Close button, show/hide based on off-canvas menu state. -->
          <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
            <button type="button" class="-m-2.5 p-2.5" data-action="sidebar#toggleMenu" data-sidebar-target="closeMenuButton">
              <span class="sr-only">Close sidebar</span>
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <!-- Sidebar component -->
          <div class="flex grow flex-col gap-y-5 overflow-y-auto px-6 pb-4"
            data-sidebar-target="menu">
            <div class="p-4">
              <%= link_to root_path, class: "text-nowrap" do %>
                <%= image_tag "logo-darkmode", alt: "Dark Mode Tailored Logo", class: "inline" %>
              <% end %>
            </div>
            <nav class="flex flex-1 flex-col">
              <ul class="text-white text-sm">
                <li class="text-xs font-bold pb-[5px]">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="nav-small-cap-icon text-lg hidden text-center">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                  </svg>

                  <span class="text-xs font-semibold">HOME</span>
                </li>
                <li class="sidebar-item">
                  <%= nav_link_to root_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full" do %>
                    <span>Dashboard</span>
                  <% end %>
                </li>
                <li class="text-xs font-bold mb-4 mt-6">
                  <span class="text-xs text-gray-400 font-semibold">MY STYLE</span>
                </li>

                <li class="sidebar-item">
                  <%= nav_link_to wardrobe_items_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full", starts_with: "/wardrobe_items" do %>
                    <span>My Wardrobe</span>
                  <% end %>
                </li>

                <li class="sidebar-item">
                  <%= nav_link_to outfits_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full", starts_with: "/outfits" do %>
                    <span>My Outfits</span>
                  <% end %>
                </li>

                <li class="sidebar-item">
                  <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full" do %>
                    <span>Outfit Recommendations</span>
                  <% end %>
                </li>

                <li class="sidebar-item">
                  <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full" do %>
                    <span>Style Evolution</span>
                  <% end %>
                </li>

                <li class="sidebar-item">
                  <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full" do %>
                    <span>Shopping Recommendations</span>
                  <% end %>
                </li>

                <li class="sidebar-item">
                  <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full" do %>
                    <span>Seasonal Planner</span>
                  <% end %>
                </li>

                <li class="text-xs font-bold mb-4 mt-8">
                  <span class="text-xs text-gray-400 font-semibold">RESOURCES</span>
                </li>

                <li class="sidebar-item">
                  <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full" do %>
                    <span>Style Blog</span>
                  <% end %>
                </li>

                <li class="sidebar-item">
                  <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full" do %>
                    <span>Guides</span>
                  <% end %>
                </li>

                <li class="sidebar-item">
                  <%= nav_link_to quizzes_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-gray-500 w-full", starts_with: "/quizzes" do %>
                    <span>Quizzes</span>
                  <% end %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Static sidebar for desktop -->
    <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col bg-indigo-600">
      <!-- Sidebar component -->
      <div class="flex grow flex-col gap-y-5 overflow-y-auto px-4 pb-4">
        <div class="flex h-16 shrink-0 items-center p-4 mt-2">
          <%= link_to root_path, class: "text-nowrap" do %>
            <%= image_tag "logo-darkmode", alt: "Dark Mode Tailored Logo", class: "flex w-full" %>
          <% end %>
        </div>

        <nav class="flex flex-1 flex-col">
          <ul class="text-white text-sm">
            <li class="text-xs font-bold pb-[5px]">
              <span class="text-xs text-indigo-200 font-semibold">HOME</span>
            </li>
            <li class="sidebar-item">
              <%= nav_link_to root_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-white w-full" do %>
                <span>Dashboard</span>
              <% end %>
            </li>
            <li class="text-xs font-bold mb-4 mt-6">
              <span class="text-xs text-indigo-200 font-semibold">MY STYLE</span>
            </li>

            <li class="sidebar-item">
              <%= nav_link_to wardrobe_items_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-white w-full", starts_with: "/wardrobe_items" do %>
                <span>My Wardrobe</span>
              <% end %>
            </li>

            <li class="sidebar-item">
              <%= nav_link_to outfits_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-white w-full", starts_with: "/outfits" do %>
                <span>My Outfits</span>
              <% end %>
            </li>

            <li class="sidebar-item">
              <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-white w-full" do %>
                <span>Outfit Recommendations</span>
              <% end %>
            </li>

            <li class="sidebar-item">
              <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-white w-full" do %>
                <span>Style Evolution</span>
              <% end %>
            </li>

            <li class="sidebar-item">
              <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-white w-full" do %>
                <span>Shopping Recommendations</span>
              <% end %>
            </li>

            <li class="sidebar-item">
              <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-white w-full" do %>
                <span>Seasonal Planner</span>
              <% end %>
            </li>

            <li class="text-xs font-bold mb-4 mt-8">
              <span class="text-xs text-indigo-200 font-semibold">RESOURCES</span>
            </li>

            <li class="sidebar-item">
              <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-white w-full" do %>
                <span>Style Blog</span>
              <% end %>
            </li>

            <li class="sidebar-item">
              <%= nav_link_to "#", class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-white w-full" do %>
                <span>Guides</span>
              <% end %>
            </li>

            <li class="sidebar-item">
              <%= nav_link_to quizzes_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-white w-full", starts_with: "/quizzes" do %>
                <span>Quizzes</span>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Top nav -->
    <div class="lg:pl-72">
      <div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
        <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden">
          <span class="sr-only">Open sidebar</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>

        <!-- Separator -->
        <div class="h-6 w-px bg-gray-900/10 lg:hidden" aria-hidden="true"></div>

        <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
          <form class="relative flex flex-1" action="#" method="GET">
            <label for="search-field" class="sr-only">Search</label>
            <svg class="pointer-events-none absolute inset-y-0 left-0 h-full w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
            </svg>
            <input id="search-field" class="block h-full w-full border-0 py-0 pl-8 pr-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm" placeholder="Search..." type="search" name="search">
          </form>
          <%= render "notifications" %>
          <div class="flex items-center gap-x-4 lg:gap-x-6">
            <!-- Separator -->
            <div class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-900/10" aria-hidden="true"></div>

            <!-- Profile dropdown -->
            <div class="relative" data-controller="dropdown">
              <button
                role="button"
                class="-m-1.5 flex items-center p-1.5"
                id="user-menu-button"
                aria-expanded="false"
                aria-haspopup="true"
                data-action="click->dropdown#toggle click@window->dropdown#hide">
                <span class="flex items-center gap-1 text-gray-700 appearance-none">
                  <%= account_avatar current_account, class: "flex-shrink-0 rounded-full h-6 w-6" %>
                  <span class="max-w-32 truncate leading-tight"><%= current_account.name %></span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current flex-shrink-0 w-4 h-4"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                </span>
              </button>

              <!-- Dropdown menu, show/hide based on menu state -->
              <div
                class="lg:absolute lg:right-0 dropdown-menu hidden z-20 mt-2"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="user-menu-button"
                tabindex="-1"
                data-dropdown-target="menu"
                data-transition-enter="transition ease-out duration-200"
                data-transition-enter-from="opacity-0 translate-y-1"
                data-transition-enter-to="opacity-100 translate-y-0"
                data-transition-leave="transition ease-in duration-150"
                data-transition-leave-from="opacity-100 translate-y-0"
                data-transition-leave-to="opacity-0 translate-y-1"
                >
                <%= link_to current_account.name, current_account, class: 'border-b border-gray-200  font-semibold text-base text-gray-800 bg-white hover:bg-primary-50      transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3' %>
                <%= link_to t(".profile"), edit_user_registration_path, class: 'text-gray-800 bg-white hover:bg-primary-50    transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3' %>
                <%= link_to t(".password"), edit_account_password_path, class: 'text-gray-800 bg-white hover:bg-primary-50    transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3' %>
                <%= link_to t(".connected_accounts"), user_connected_accounts_path, class: 'text-gray-800 bg-white hover:bg-primary-50    transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3' if Devise.omniauth_configs.any? %>
                <%= link_to t(".billing"), subscriptions_path, class: 'text-gray-800 bg-white hover:bg-primary-50    transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3' if Jumpstart.config.payments_enabled? %>
                <%= link_to t(".accounts"), accounts_path, class: 'text-gray-800 bg-white hover:bg-primary-50    transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3' %>
                <%#= link_to t(".api_tokens"), api_tokens_path, class: 'text-gray-800 bg-white hover:bg-primary-50    transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3' if Jumpstart.config.payments_enabled? %>
                <% if Current.other_accounts.any? %>
                  <div class="px-6 py-3 text-xs font-bold text-gray-800 uppercase bg-white border-t border-gray-200">Switch Account</div>
                  <% current_user.accounts.order(name: :asc).where.not(id: current_account.id).each do |account| %>
                    <%= switch_account_button account, data: { controller: :accounts, action: "ajax:success->accounts#reconnect" }, class: 'w-full text-left text-gray-800 bg-white hover:bg-primary-50 transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3 cursor-pointer' %>
                  <% end %>
                <% end %>
                <% if current_user.admin? %>
                  <div class="px-6 py-3 text-xs font-bold text-gray-800 uppercase bg-white  border-t border-gray-200"><%= t(".admin") %></div>
                  <%= link_to t(".dashboard"), admin_root_path, class: 'text-gray-800 bg-white hover:bg-primary-50  transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3', target: :_blank, data: { turbo: false } %>
                  <%= link_to 'Sidekiq', admin_sidekiq_web_path, class: 'text-gray-800 bg-white hover:bg-primary-50    transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3', target: :_blank, data: { turbo: false } if defined?(::Sidekiq) %>
                  <%= link_to 'GoodJob', good_job_path, class: 'text-gray-800 bg-white hover:bg-primary-50    transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3', target: :_blank, data: { turbo: false } if defined?(::GoodJob) %>
                <% end %>
                <% if Rails.env.development? %>
                  <div class="px-6 py-3 text-xs font-bold text-gray-800 uppercase bg-white   border-t border-gray-200">Development</div>
                  <%= link_to 'Jumpstart Config', jumpstart_path(script_name: nil), class: 'text-gray-800 bg-white hover:bg-primary-50 transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3', data: { turbo: false } %>
                  <%= link_to 'Jumpstart Docs', jumpstart.docs_path, class: 'text-gray-800 bg-white hover:bg-primary-50  transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3', target: :_blank, data: { turbo: false } %>
                  <%= link_to 'Mailbin', mailbin_path(script_name: nil), class: 'text-gray-800 bg-white hover:bg-primary-50 transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3', target: :_blank, data: { turbo: false } %>
                <% end %>
                <%= button_to t(".sign_out"), destroy_user_session_path, method: :delete, class: 'w-full text-left font-medium cursor-pointer px-6 py-3 border-t border-gray-200 text-gray-800 bg-white hover:bg-primary-50 transition ease-in-out duration-200 whitespace-nowrap' %>

              </div>
            </div>
          </div>
        </div>
      </div>

      <main class="px-2 py-10">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
