<!DOCTYPE html>
<html class="<%= class_names("h-full min-h-screen antialiased", "dark": current_user&.dark_theme?) %>" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= viewport_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <% if current_user&.system_theme? %><script>document.documentElement.classList.toggle("dark", window.matchMedia('(prefers-color-scheme: dark)').matches)</script><% end %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%# Be sure to add your own custom favicons %>
    <%= render "favicons" %>
    <%= render "payments_dependencies" %>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= yield :head %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
  </head>

  <body class="h-full" data-theme-preference-value="<%= current_user&.theme %>" data-controller="theme">
    <div class='dark:bg-navy-600 bg-coral-300 flex'>
    <%= render 'layouts/sidebar' %>
    <main class='bg-coral-500 dark:bg-navy-800 w-5/6 p-4 flex-grow'>
      <%= Time.zone.now %>
      <%= yield %>
    </main>
    </div>
  </body>
 </html>
